body {margin:0px; padding:0px; background-color:#f0f0f0;}
*,
*::after,
*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font:normal 20px/1.5 sans-serif;
}
form{
    margin: 1rem;
    width: 950px;
}
    .form-box{
        padding: 1rem;
        clear: both;
        width: 100%;
        position: relative;
    }
    .form-box input{
        font-size: 1rem;
        width: 300px;
        padding: 0.25rem 1rem;
    }
    .error::after{
        background-color: hsl(10, 60%, 50%);
        color: papayawhip;
        font-size: 1rem;
        line-height: 1.8;
        width: 450px;
        padding-left: 1rem;
        position:absolute;
        right: 0;
        content: attr(data-errormsg);
    }
    .form-box button{
        font-size: 1rem;
        border: none;
        padding: 0.25rem 2rem;
        margin-right: 1rem;
        color: white;
        background-color: cornflowerblue;
        cursor: pointer;
    }
    .form-box select{
        font-size: 1rem;
        width: 300px;
        padding: 0.25rem 1rem;
    }
    .form-box label{
        font-size: 1rem;
        float: left;
        width: 150px;
        margin-right: 20px;
    }